 <nav class="navbar navbar-fixed-top navBodega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="background-color:#f37c2f">
        <span class="sr-only">Toggle navigation</span>
        <span class=" glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
      <a class="navbar-brand" style="padding-top: 0px;"><img [src]="logoBcp"></a>
    </div>
    <ul class="nav navbar-right top-nav">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight: bold;"> Administrador <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li>
                  <a (click)="logOff()"> <i class="glyphicon glyphicon-log-out"> </i> Log out</a>
              </li>
          </ul>
      </li>
    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse fondo">
      <ul class="nav navbar-nav side-nav" id="navMenu">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/proveedores">Proveedores</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <!-- <li *ngFor="let opt of lstOpts" style="width: 100%">
          <a class="collapsed" data-toggle="collapse" [attr.data-target]="'#'+opt.id" role="button" aria-haspopup="true" aria-expanded="true">{{opt.desc}}<span class="caret"></span></a>
          <ul id="{{opt.id}}" class="collapse">
            <li *ngFor="let optH of opt.lstOpt">
              <a class="nav-link" (click)="goContent(optH.id)">{{optH.desc}}</a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
</nav>dfdfgeg
